<!DOCTYPE html>
<html>
<head>
  <title>Main page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <div class="container">
    <h1><a href="/messages">messageboard</a></h1>

    {% if request.args.get('message') %}
      <p class="success-message">{{ request.args.get('message') }}</p>
    {% endif %}

    {% if session.username %}
      <p>You are logged in as {{ session.username }}</p>
      <div class="actions">
        <form action="/logout" method="POST">
          <input type="submit" value="Log out">
        </form>
        <a href="/register">Register</a>
      </div>
    {% else %}
      <div class="actions">
        <a href="/login">Log in</a>
        <a href="/register">Register</a>
      </div>
    {% endif %}

  </div>
</body>
</html>