<!DOCTYPE html>
<html>

<head>
  <title>Log in</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <h1>Log in</h1>

  <div class="container">
    <div class="form-container">
      <form action="/login" method="post">
        <p>
          Username: <br />
          <input type="text" name="username" />
        </p>
        <p>
          Password: <br />
          <input type="password" name="password" />
        </p>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="submit" value="Log in" />
      </form>
    </div>
    <div class="links-container">
      <a href="/">Back to the front page</a>
    </div>
  </div>
</body>

</html>